/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF RESET */

body {
  background-color: #fffdf5;
}

h1 {
  font-family: "Volkhov", serif;
}

.top-logo {
  position: static;
  width: 45px;
  height: 45px;
  left: 0px;
  top: 0px;
}

.hashchat {
  position: static;
  width: 186px;
  height: 52px;
  left: 67px;
  top: 0px;

  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 52px;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 253px;
  height: 52px;
  left: 0px;
  top: 0px;
  gap: 22px;
}

.discord {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: static;
  width: 164px;
  height: 35px;
  left: 0px;
  top: 0px;
  gap: 10px;
  font-size: 20px;
}

.github {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: static;
  width: 125px;
  height: 35px;
  left: 209px;
  top: 0px;
  gap: 10px;
  font-size: 20px;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: static;
  width: 334px;
  height: 35px;
  left: 861px;
  top: 8.5px;
  gap: 0px;
}

.header-right,
p {
  font-family: "Work Sans", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.iphone {
  display: flex;
  justify-content: end;
}

.punchline {
  position: absolute;
  width: 545px;
  height: 292px;
  left: 122px;
  top: 220px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 73px;
}

.punchline b {
  font-weight: bold;
}

.sub-punchline .one {
  position: static;
  width: 250px;
  height: 24px;
  left: 0px;
  top: 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20x;
  line-height: 24px;
}

.sub-punchline {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 371px;
  height: 97px;
  left: 209px;
  top: 813px;
}

.middle {
  height: 800px;
  align-items: center;
}

.the-beginning {
  align-self: center;
  width: 714px;
  height: 170px;
  margin-left: 25%;
  margin-top: 50px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 85px;
  text-align: center;
}

.the-beginning b {
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 872px;
  height: 57px;
  left: 0px;
  top: 235px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 65px 0px;
}

.communities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;

  position: static;
  width: 219px;
  height: 57px;
  left: 0px;
  top: 0px;

  /* Ocean Blue */

  background: #00bfff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 150px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: white;
}

.economics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;

  position: static;
  width: 195px;
  height: 57px;
  left: 369px;
  top: 0px;

  /* Ocean Blue */

  border: 1px solid #00bfff;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 150px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  text-align: center;

  /* Ocean Blue */

  color: #00bfff;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;

  position: static;
  width: 158px;
  height: 57px;
  left: 714px;
  top: 0px;

  /* Ocean Blue */

  border: 1px solid #00bfff;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 150px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  text-align: center;

  /* Ocean Blue */

  color: #00bfff;
}

.card-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 18%;
  gap: 122px;
  padding-bottom: 100px;
  width: 1022px;
  height: 400px;
  left: 0px;
  top: 363px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  width: 527px;
  height: 233px;
  left: 31px;
  top: 55px;

  position: static;
  left: 434px;
  right: 0px;
  top: 29px;
  bottom: 29px;

  font-family: ;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 34px;
}

#name {
  position: static;
  width: 75px;
  height: 27px;
  left: 0px;
  top: 0px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
}

#tagline {
  position: static;
  width: 475px;
  height: 46px;
  left: 0px;
  top: 0px;

  /* DM Serif Display / 40 sp • H3 */

  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

#description {
  position: static;
  width: 527px;
  height: 108px;
  left: 0px;
  top: 76px;

  /* Open Sans / 18 sp • Body 1 */

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}
